<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/base}">

<head>
<title>Admin</title>
<script type="text/javascript">

</script>
</head>

<body>
	<div layout:fragment="page_content">		
		<form action="/" method="post" id="langForm">
			<label for="name" class="form-label">Name</label>
			<input type="text" id="name" name="name" class="form-control form-control-sm" required>
			<label for="value" class="form-label">Value</label>
			<input type="text" id="value" name="value" class="form-control form-control-sm" required>
			<input type="submit" value="Save Language" class="btn btn-primary btn-small">
		</form>
	</div>
</body>

</html>
